body {
  background-image: url('./images/corkboard.png');
  display: flex;
  justify-content: space-evenly;
  align-items: 'center';
  flex-wrap: wrap;
}

.polaroid-1, .polaroid-2 {
  top: 30px;
  width: 400px;
  height: 480px;
  position: relative;
  &::before {
    width: 400px;
    background-size: 100%;
    position: absolute;
    content: "";
    display: block;
  }
}

.polaroid-2 {
  top: 50px;
  transform: rotate(-5deg);
}

.polaroid-1::before {
  height: 480px;
  background-image: url('./images/polaroid-1.png');
}

.polaroid-2::before {
  top: 50px;
  left: -30px;
  height: 484px;
  background-image: url('./images/polaroid-2.png');
}

.polaroid-1 .snap {
  max-width: 350px;
  max-height: 347px;
  position: absolute;
  left: 27px;
  top: 32px;
  transform: rotate(-0.5deg);
}

.polaroid-2 .snap {
  max-width: 350px; 
  max-height: 370px;
  position: absolute;
  left: -4px;
  top: 76px;
  transform: rotate(0.3deg);
}

.left:hover, .left:hover::before {
  transform: rotate(2deg);
}

.right:hover::before {
  transform: rotate(-2deg);
}

.left:hover .snap {
  transform: rotate(1.5deg);
}

.right:hover .snap {
  transform: rotate(-1.7deg);
}

.pin-1 {
  width: 50px;
  z-index: 1;
  position: absolute;
  top: -20px;
  left: 150px;
}

.pin-2 {
  width: 50px;
  z-index: 1;
  position: absolute;
  left: 150px;
}

.kiwi-pin {
  width: 100px;
  height: 100px;
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 30px;
  transform: rotate(10deg);
}

.mate-sticker {
  position: absolute;
  width: 150px;
  z-index: 1;
  top: 350px;
  left: 250px;
}

.brochure {
  top: 30px;
  position: relative;
  transform: rotate(1deg);
}

.brochure-image {
  width: 400px;
  height: 100%;
}

.flag {
  height: 300px;
  z-index: 1;
}
